<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Form
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="content-centered">
  <div class="text-center">
    <h1>Sign into in <span class="highlighted">ZOV</span></h1>
    <p>Enter your credentials to proceed</p>
  </div>
  <form action="" class="form">
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full"> 
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>

    <ion-button type="submit" color="danger" expand="block" class="btn-margin">Sign In</ion-button>
    <a>Don't have an account? <span class="highlighted">Sign up</span></a>
  </form>
</ion-content>